.calculator {
  width: 250px;
  height: 342px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 20px;
  background-color: #000000;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
